html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.graph-container {
    height: 100% !important;
    width: 100% !important;
}

.graph-container > div {
    height: 100% !important;
    width: 100% !important;
}

.graph-container > #graph-id-graph-wrapper > svg {
    height: inherit !important;
    width: inherit !important;
}

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-weight: 400;
        src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 500;
        src: url('../public/fonts/Montserrat-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 600;
        src: url('../public/fonts/Montserrat-SemiBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 700;
        src: url('../public/fonts/Montserrat-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 900;
        src: url('../public/fonts/Montserrat-Black.ttf') format('truetype');
    }

    html {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
